In [3]:
import sys
import os
import pandas as pd

sys.path.append('../../get_data')
from get_data import GetData

In [6]:
pathToData = '../../tmp/data.csv'
if (os.path.exists(pathToData) == False):
  getData = GetData()
  getData.get_to_temp_folder('data.csv')

data = pd.read_csv(pathToData)
data

,Unnamed: 0,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,...,credit_type,Credit_Score,co_applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
0,0,24891,2019,cf,Male,nopre,type2,p1,l1,nopc,...,EQUI,552,EXP,55-64,to_inst,NaN,North,direct,1,NaN
1,1,24932,2019,cf,Male,nopre,type3,p4,l1,nopc,...,EQUI,765,EXP,45-54,to_inst,NaN,North,direct,1,NaN
2,2,25039,2019,cf,Male,nopre,type2,p3,l1,nopc,...,EQUI,880,EXP,35-44,to_inst,NaN,North,direct,1,NaN
3,3,25101,2019,cf,Male,nopre,type1,p4,l1,nopc,...,EQUI,880,EXP,45-54,to_inst,NaN,central,direct,1,NaN
4,4,25110,2019,cf,Male,nopre,type3,p3,l1,nopc,...,EQUI,768,EXP,45-54,not_inst,NaN,North,direct,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148665,148665,164194,2019,cf,Sex Not Available,nopre,type1,p4,l1,nopc,...,CRIF,851,CIB,35-44,to_inst,57.593458,south,direct,0,45.0
148666,148666,165831,2019,cf,Sex Not Available,nopre,type1,p3,l1,nopc,...,CRIF,645,EXP,65-74,to_inst,57.593458,south,direct,0,36.0
148667,148667,100880,2019,cf,Sex Not Available,nopre,type2,p3,l1,nopc,...,CIB,525,EXP,55-64,to_inst,92.725989,south,direct,1,44.0
148668,148668,138588,2019,cf,Sex Not Available,nopre,type3,p4,l1,nopc,...,EXP,798,CIB,45-54,to_inst,92.725989,south,direct,0,NaN
148669,148669,157893,2019,ncf,Sex Not Available,pre,type1,p1,l1,nopc,...,EXP,836,EXP,45-54,to_inst,64.950408,south,direct,1,43.0